:host {
  @media (min-width: 1024px) {
    .center-buttons {
      margin-top: 20%;
      padding: 5%;
      ion-button {
        font-size: 20px;
        height: 60px;
      }
    }

    form {
      margin-top: 20%;
      padding: 5%;
      ion-label {
        font-size: 20px;
      }
      ion-item {
        --background: #f7f7f7;
        --color: #333333;
      }
      ion-button {
        font-size: 20px;
        margin-top: 20%;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .center-buttons {
      margin-top: 30%;
      padding: 15%;
      ion-button {
        font-size: 18px;
        height: 55px;
      }
    }

    form {
      margin-top: 25%;
      padding: 15%;
      ion-label {
        font-size: 18px;
      }
      ion-button {
        font-size: 18px;
        margin-top: 25%;
      }
    }
  }

  @media (max-width: 767px) {
    .center-buttons {
      margin-top: 40%;
      padding: 20%;
      ion-button {
        font-size: 16px;
        height: 50px;
      }
    }

    form {
      margin-top: 30%;
      padding: 10%;
      ion-label {
        font-size: 16px;
      }
      ion-button {
        font-size: 16px;
        margin-top: 20%;
      }
    }
  }

  .center-buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ion-label {
    color: #ffffff;
  }

  ion-item {
    --background: #f7f7f7;
    --color: #333333;
    border-radius: 8px;
    margin-bottom: 5%;
  }
}
