<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Productos </ion-title>
    <ion-buttons slot="end">
      <ion-button class="cart-button">
        <ion-icon name="cart"></ion-icon>
        <span>{{ cartCount }}</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="filters">
    <ion-item>
      <ion-label>Filtrar por Tipo</ion-label>
      <ion-select [(ngModel)]="selectedType" (ionChange)="getProducts()">
        <ion-select-option value="">Todos</ion-select-option>
        <ion-select-option value="Poleras">Poleras</ion-select-option>
        <ion-select-option value="Gorros">Gorros</ion-select-option>
        <ion-select-option value="Juguetería">Juguetería</ion-select-option>
        <ion-select-option value="Alimentación">Alimentación</ion-select-option>
        <ion-select-option value="Libros">Libros</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Ordenar por Precio</ion-label>
      <ion-select [(ngModel)]="sortOrder" (ionChange)="getProducts()">
        <ion-select-option value="asc">Ascendente</ion-select-option>
        <ion-select-option value="desc">Descendente</ion-select-option>
      </ion-select>
    </ion-item>
  </div>

  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-thumbnail slot="start">
        <img [src]="product.imageUrl" alt="Product Image">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>{{ product.type }}</p>
        <p>${{ product.price }} CLP</p>
        <p>Stock: {{ product.stockQuantity }}</p>
      </ion-label>
      <ion-button (click)="addToCart(product)">Añadir al carrito</ion-button>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadData($event)" threshold="100px">
    <ion-infinite-scroll-content loadingText="Cargando productos..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>